<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Biblioteca ITEE</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="/images/bienvenidos.jpg" alt="Imagen de la clínica">
        </div>
        <div class="login-container">
            <form action="/login" method="POST">
                <h2>Iniciar Sesión</h2>
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="username" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Ingresar</button>
                <p class="<%= colorP %>"><%= message %></p>
            </form>
        </div>
    </div>
    <!--estilo solo para el color del mensaje de error-->
    <style>
      .error-message{
        color: brown;
      }
    </style>
</body>

</html>

