<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir PDF</title>
</head>
<body>
  <h1>Subir PDF</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="categoria">Categoría:</label>
    <select id="categoria" name="categoria">
      <% cat.forEach(categoria => { %>
        <option value='<%= JSON.stringify([categoria.nombre_categoria, categoria.id_categoria]) %>'>
          <%= categoria.nombre_categoria %>
        </option>
      <% }) %>
    </select><br><br>

    <label for="nombrePdf">Nombre del PDF:</label>
    <input type="text" id="nombrePdf" name="nombrePdf"><br><br>

    <input type="file" id="pdfFile" name="pdfFile"><br><br>

    <button type="submit">Subir PDF</button>
  </form>
</body>
</html>
